*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 2.2em;
    text-transform: uppercase;
    font-family: 'Abril Fatface', cursive;
    margin-left: 10px;
}

.links ul{
    display: flex;
    justify-content: center;
}
.links ul a{
    color: white;
    list-style: none;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.links ul a:hover{
    color: grey;
    text-decoration: underline;
}

.login{
    margin-right: 10px;
}
.login #btn{
    background-color: rgb(126, 39, 12);
    color: white;
    font-size: 20px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.login #btn:hover{
    background-color: #222;

}